.hero {
  height: 90vh;
  background-image: url('/assets/rover-principal.PNG');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  margin-left: 8%;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 5rem;
}

.hero-content p {
  margin: 1rem 0;
}

.info {
  padding: 4rem 8%;
}

.timer-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  margin-top: 350px;
}

.equipos {
  padding: 4rem 8%;
}

.cards {
  display: flex;
  gap: 1rem;
}

.card {
  background: #eee;
  padding: 1rem;
  border-radius: 10px;
}

.extra {
  padding: 4rem 8%;
}


